* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  text-align: center;
  background-color: whitesmoke;
}
.machine-info {
  background-color: goldenrod;
  color: azure;
  padding: 50px;
}

button {
  margin: 10px;
}
